.container {
}

#header {
    text-align: center;
    color: white;
    background: #880000;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.3em;
}

#menu-dock-container {
	position: fixed;
	top: 6px;
	left: 60px;
}
#menu-dock {
	position: relative;
	right: 48px;
}
.jqDockLabel {
	background: #333;
	color: #fff;
	padding: 3px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.person-name {
	font-weight: bold;
}

.metadata {
	font-family: sans-serif;
	color: #004400;
}

.data {
	color: #000044;
}

.label {
	font-size: small;
}

.value {
	font-weight: bold;
}