<script type="text/javascript">
  $(document).ready(function() {
      $("#tabs").tabs();
  });
</script>

<h1>
  <%= format @patient %>
</h1>
<h3>
  <%= format @patient.patient_identifier %>
</h3>

<div id="tabs">

  <ul>
    <li><a href="#tabs-1">Demographics</a></li>
    <li><a href="#tabs-2">Encounters</a></li>
  </ul>

  <div id="tabs-1">
    Something here
  </div>

  <div id="tabs-2">
    <%= render :partial => "widgets/encounter_list",
        :locals => { :encounters => @encounters } %>
  </div>

</div>
